<h3 class="footer-lists--heading">{{lang 'newsletter.subscribe'}}</h3>
<p>{{lang 'newsletter.subscribe_intro'}}</p>
<form action="{{urls.subscribe.action}}" method="post">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="subscribe-form">
            <input class="form-fieldC" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
            <button class="subscribe-btn btns-icon" type="submit" value="{{lang 'newsletter.subscribe_submit'}}"></button>
        </div>
</form>
