// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    + .blog {
        border-top: container("border");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    font-size: fontSize("large");
    margin: spacing("single") 0px spacing("single");
    font-weight: bold;

    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: center;
    margin-bottom: spacing("single");
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    // font-size: fontSize("large");
    text-align: left;

    a {
        text-decoration: underline;
        font-weight: bold;
    }

    p {
        font-size: large;
    }

    p, h1, h2, h3, h4, h5, h6 {
        margin-bottom: spacing("single");
        line-height: spacing("single");
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    img {
        margin-bottom: spacing("single");
    }
}

.blog-thumbnail {
    margin: 0 auto (spacing("base") * 2);
    position: relative;
    max-width: 500px;
    // original template size for blog-thumbnail
    // max-width: get_width(stencilString('blog_size'));

    img {
        @include lazy-loaded-img;
    }

    @include lazy-loaded-padding('blog_size');
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: center;
    // width: 100%;
    width: grid-calc(10, $total-columns);

    @include breakpoint("small") {
        width: grid-calc(10, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(6, $total-columns);
    }
}
