<table id="sleepwooven-sizing-cm" class="">
	<p class="dimension-info">Other sizes available. Dimensions are in width &times; length &times; depth</p>
<style>
#sleepwooven-sizing-cm table, #sleepwooven-sizing-cm td, #sleepwooven-sizing-cm th {    
    border: 1px solid #ddd;
    text-align: left;
}

#sleepwooven-sizing-cm th, #sleepwooven-sizing-cm td {
    padding: 15px;
}
</style>
<thead>
<tr><th>Mattress</th><th>Duvet Cover</th><th>Fitted Sheet</th><th>Flat Sheet</th><th>Pillowcases</th></tr>
</thead>
<tbody>
<tr>
<td>Twin</td>
<td>160&nbsp;&times; 235 cm</td>
<td>105&nbsp;&times; 210&nbsp;&times; 35 cm</td>
<td>195 &times; 285 cm</td>
<td>55&nbsp;&times; 80 cm</td>
</tr>
<tr>
<td>Full</td>
<td>180&nbsp;&times;&nbsp;235 cm</td>
<td>125&nbsp;&times;&nbsp;210&nbsp;&times;&nbsp;35 cm</td>
<td>220 &times;&nbsp;285 cm</td>
<td>55&nbsp;&times;&nbsp;80 cm</td>
</tr>
<tr>
<td>Queen</td>
<td>210 &times;&nbsp;235 cm</td>
<td>160 &times;&nbsp;210&nbsp;&times;&nbsp;35 cm</td>
<td>240 &times;&nbsp;285 cm</td>
<td>55&nbsp;&times;&nbsp;80 cm</td>
</tr>
<tr>
<td>King</td>
<td>242 &times;&nbsp;235 cm</td>
<td>190 &times;&nbsp;210&nbsp;&times;&nbsp;35 cm</td>
<td>280 &times;&nbsp;285 cm</td>
<td>55&nbsp;&times; 95 cm</td>
</tr>
</tbody>
</table>



<table id="sleepwooven-sizing-cm-chi" class="">
<style>
#sleepwooven-sizing-cm-chi table, #sleepwooven-sizing-cm-chi td, #sleepwooven-sizing-cm-chi th {    
    border: 1px solid #ddd;
    text-align: left;
}

#sleepwooven-sizing-cm-chi th, #sleepwooven-sizing-cm-chi td {
    padding: 15px;
}
</style>


<thead>
<p class="dimension-info">其他尺寸 (闊x長x深)</p>
<tr><th>床褥</th><th>被袋</th><th>橡筋床笠</th><th>床單</th><th>枕頭套</th></tr>
</thead>
<tbody>
<tr>
<td>單人</td>
<td>160&nbsp;&times; 235 cm</td>
<td>105&nbsp;&times; 210&nbsp;&times; 35 cm</td>
<td>195 &times; 285 cm</td>
<td>55&nbsp;&times; 80 cm</td>
</tr>
<tr>
<td>雙人</td>
<td>180&nbsp;&times;&nbsp;235 cm</td>
<td>125&nbsp;&times;&nbsp;210&nbsp;&times;&nbsp;35 cm</td>
<td>220 &times;&nbsp;285 cm</td>
<td>55&nbsp;&times;&nbsp;80 cm</td>
</tr>
<tr>
<td>加大雙人 (帝后)</td>
<td>210 &times;&nbsp;235 cm</td>
<td>160 &times;&nbsp;210&nbsp;&times;&nbsp;35 cm</td>
<td>240 &times;&nbsp;285 cm</td>
<td>55&nbsp;&times;&nbsp;80 cm</td>
</tr>
<tr>
<td>特大雙人 (帝王)</td>
<td>242 &times;&nbsp;235 cm</td>
<td>190 &times;&nbsp;210&nbsp;&times;&nbsp;35 cm</td>
<td>280 &times;&nbsp;285 cm</td>
<td>55&nbsp;&times; 95 cm</td>
</tr>
</tbody>
</table>
