<div class="customVideo container">
    <div class="pr-tabs-content d-flex">
        <div class="half-box customVideo-half-box">
            <div class="customVideo-wrapper">
                <a data-fancybox href="//www.youtube.com/embed/U-1arvsZVMY">
                    <img src="{{cdn 'assets/img/img/FabricVideoScreenShotThumbnail.png'}}">
                </a>
            </div>
            <!-- <div class="videoGallery-main">
                <iframe
                    id="player"
                    type="text/html"
                    frameborder="0"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen
                    src="//www.youtube.com/embed/U-1arvsZVMY"
                    data-video-player>
            </iframe>
            </div> -->
        </div>
        <div class="half-box half-box-txt">
            <h2 class="main-title">Exceptional bedding comes from exceptional material</h3>

            <p>We only use the finest Egyptian long staple cotton -- a thread that's uniform, finer and resistant.</p>
            

            <p>
                How our fabric is finished is vitally important for its durability and shine. Using proprietary methods used by high fashion houses, our craftsmen give our sheets the signature beautiful lustre and feel.
            </p>

            <div class="photoGallery">
                <a class="thumbnail" data-fancybox="images" href="{{cdn 'assets/img/img/fabricCloseup1_lg.jpg'}}">
                    <img src="{{cdn 'assets/img/img/fabricCloseup1_thumb.jpg' 100x75}}">
                </a>

                <a class="thumbnail" data-fancybox="images" href="{{cdn 'assets/img/img/fabricCloseup2_lg.jpg'}}">
                    <img src="{{cdn 'assets/img/img/fabricCloseup2_thumb.jpg' 100x75}}">
                </a>

            </div>
            
        

        </div>
    </div>
</div>

