<div class="faq-wrapper">
    <div class="container">
        <h2 class="main-title faq-title">Frequently Asked Questions</h2>
        <div class="accordion-block">
            <ul id="accordion2">
                <div class="accordion-segment marg-right">
                    <li>
                        <div class="faq-title">
                            <div class="number-box">01</div>
                            <span class="accordion-subtitle">What are the wash and care instructions?</span>
                            <span class="plus-minus"></span>
                        </div>
                        <div class="faq-content faq-content-1">
                            <p>
                                To keep our bedding fresh and clean, wash them at least once per week with alternating sets
                                for best results. Use a cold or warm wash cycle and set the dryer to low or medium tumble
                                dry. 
                            </p>
                            <p>
                                Bleach is not recommended as it destroys the chemical structure of cotton, causing them
                                to be brittle. Use color safe bleach alternatives if necessary and spot-treated required
                                areas.
                            </p>
                            <p>
                                <img class="center"
                                     src="https://lh5.googleusercontent.com/A8ubqWHaE5rRIqHNgvjvA9wnk2DoWvP5KhXJe4_2wpEOwTZOz7oykaBPvZbH7q6fLF4L2OczQMii135CzHy2KcdQcPQ_BuoPck5FBPm760F1fL1jEFYO7ovcXhL2brCA1_20dFX3"
                                     alt="wash and care label bed linens">
                            </p>
                            
                        </div>
                    </li>
                    <li>
                        <div class="faq-title">
                            <div class="number-box">02</div>
                            <span class="accordion-subtitle">How should I store my linens</span>
                            <span class="plus-minus"></span>
                        </div>
                        <div class="faq-content faq-content-2">
                            <p>
                                Always wash bed linens and thoroughly dry them before any long term storage. We naturally
                                shed dead skin cells and leave body oils all over our personal items, especially on our bed
                                sheets if we spend 8 hours a day on them. 
                            </p>
                            <p> If left uncleaned for long periods of time, they
                                oxidize with cotton which gives off odor and a nasty yellow tint. To prevent mold and mildew
                                from forming, use an airtight vacuum bag to store the linens in a cool and dark place.
                            </p>
                        </div>
                    </li>
                </div>
                <div class="accordion-segment">
                    <li>
                        <div class="faq-title">
                            <div class="number-box">03</div>
                            <span class="accordion-subtitle">How does the 100 Day Guarantee work?</span>
                            <span class="plus-minus"></span>
                        </div>
                        <div class="faq-content faq-content-3">
                            <p>Starting from the shipping date, our 100 Day Guarantee is a way to make sure you are truly
                                comfortable with the bedding products before committing to the purchase.</p>
                            <p>While used bedding cannot be resold to another customer, we encourage you to donate them to a
                                charity to serve families and individuals in need.</p>
                            <p>Simply contact us via sleepwooven@haucapital.com or using the chat box below and your
                                original form of payment will be refunded minus 15% for processing and handling fees.</p>
                            <p>The offer is not applicable to the trial pillowcase.</p>
                            <p>Returns are only applicable to a customer’s first order.
                            </p>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
