<div class="design-standards">
    <div class="containerC">
        <h2 class="main-title">Woven To Perfection</h2>
        <h3 class="design-standards--title">Experience the exquisite softness and comfort the moment you touch the bed sheets</h3>
        <div class="design-standards--row d-flex">
            <div class="design-standards--box">
                <div class="design-standards--icon soft-silki"></div>
                <div class="design-standards--txt">
                    <h3 class="design-standards--title">Soft & Silky</h3>
                    <p>
                        Made with the finest cotton fibers and woven with proprietary techniques, our bedding is noticeably superior to comparable brands.
                    </p>
                </div>
            </div>
            <div class="design-standards--box">
                <div class="design-standards--icon breathable"></div>
                <div class="design-standards--txt">
                    <h3 class="design-standards--title">Breathable</h3>
                    <p>
                        Promoting good air circulation, we exclusively use 100% Long Staple cotton in all our bed linens for the perfect night's sleep.
                    </p>
                </div>
            </div>
            <div class="design-standards--box">
                <div class="design-standards--icon hotel-quality"></div>
                <div class="design-standards--txt">
                    <h3 class="design-standards--title">Hotel Quality</h3>
                    <p>
                        The same quality bed linens are used and trusted by luxury hotels such as Four Seasons and Ritz Carlton.
                    </p>
                </div>
            </div>
            <div class="design-standards--box">
                <div class="design-standards--icon eco-friendly"></div>
                <div class="design-standards--txt">
                    <h3 class="design-standards--title">Eco Friendly </h3>
                    <p>
                        We only use environmentally friendly low-impact dyes that comply with strict EU regulations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
